/GrpcService/Application/bin/
/GrpcService/Application/obj/
/GrpcService/BlazorWASM/obj/
/GrpcService/BlazorWASM/bin/
/GrpcService/GrpcClient/obj/
/GrpcService/GrpcClient/bin/
/GrpcService/HttpClients/obj/
/GrpcService/HttpClients/bin/
/GrpcService/Shared/obj/
/GrpcService/Shared/bin/
/GrpcService/WebAPI/obj/
/GrpcService/WebAPI/bin/









