@page "/DeleteUser"
@using HttpClients.ClientInterfaces
@inject IUserService userService;

@attribute [Authorize("MustBeAdmin")]
<h3>Delete User</h3>
<p> ayo </p>
<button @onclick="@(() => RetrieveUsers())"> Refresh </button>
@if (!string.IsNullOrEmpty(resultMsg))
{
    <div>
        <span>@resultMsg</span>
    </div>
}

@if (usernames == null)
{
    <span>Loading..</span>
}
else if (!usernames.Any())
{
    <span>No users to be found</span>
}
else
{
    <table>
        @foreach (string username in usernames)
                {
                    <tr>
                        <td>@username</td>
                        <td>
                            <button @onclick="@(() => DeleteAndRefresh(username) )"> Delete </button>
                        </td>
                    </tr>
                }
            </table>
}

@functions { //todo IMPLEMENTER dette
    private int Count { get; set; } = 10;

    void StartCountdown()
    {
        var timer = new Timer(new TimerCallback(_ =>
        {
            if (Count > 0)
            {
                Count--;

                // Note that the following line is necessary because otherwise
                // Blazor would not recognize the state change and not refresh the UI
                InvokeAsync(() =>
                {

                    StateHasChanged();
                });
            }
        }), null, 1000, 1000);
    }
}
@code {
    private List<string> usernames;
    private string password = "";
    private bool isAdmin = false;
    private string resultMsg = "";
    private string color = "";
    
    private async Task Delete(string username)
    {
        resultMsg = "";

        try
        {
            await userService.Delete(username);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            resultMsg = e.Message;
            color = "red";
        }
    }
    protected override async Task OnInitializedAsync() {
        try
        {
           usernames = await userService.Retrieve();
            StartCountdown();
        }
        catch (Exception e) {
            Console.WriteLine(e);
            resultMsg = e.Message;
        }
    }
    private async Task RetrieveUsers()
    {
        resultMsg = "";
        try
        {
            usernames = await userService.Retrieve();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            resultMsg = e.Message;
            color = "red";
        }
    }

    private async Task DeleteAndRefresh(string username)
    {

        try
        {
            await Delete(username);
            usernames = await userService.Retrieve();
           
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            resultMsg = e.Message;
        }
    }
}