@page "/"

<PageTitle>Warehouse Manager</PageTitle>

<div class="col d-flex justify-content-center">
    
    <AuthorizeView>
        <NotAuthorized>
            <div class="col d-flex justify-content-center">
                <div class="card">
                    <div class="card-header">
                        <strong></strong>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Welcome</h5>
                        <p class="card-text">Please login using the button above to gain access to your resources</p>
                    </div>
                </div>
            </div>
        </NotAuthorized>
        <Authorized>
            <div class="col d-flex justify-content-center">
                            <div class="card">
                                <div class="card-header">
                                    Welcome
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Nice to see you, @context.User.Identity.Name!</h5>
                                    <p class="card-text">Get started working by using the navigation pane to the left</p>
                                </div>
                            </div>
                        </div>
        </Authorized>
    </AuthorizeView>

</div>
