@using HttpClients.ClientInterfaces
@namespace Login
@inject NavigationManager navMgr
@inject IAuthService authService

<AuthorizeView>
     <Authorized>
         <div class="nav-item px-3">
             <NavLink class="nav-link" @onclick="Logout">
                 <span class="oi oi-list-rich" aria-hidden="true"></span> Log out
             </NavLink>
         </div>
     </Authorized>
     <NotAuthorized>
         <div class="nav-item px-3">
             <NavLink class="nav-link" @onclick="Login">
                 <span class="oi oi-list-rich" aria-hidden="true"></span> Log in
             </NavLink>
         </div>
     </NotAuthorized>
 </AuthorizeView>

@code {
    private void Login()
    {
        navMgr.NavigateTo("/Login");
    }

    private async Task Logout()
    {
        await authService.LogoutAsync();
        navMgr.NavigateTo("/");
    }
}