@page "/ViewProducts"
<h3>View Products</h3>

<div class="card" style="width: 18rem">
  <img class="card-img-top" src="Images/Boremaskine.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Bosch boremaskine</h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Antal p책 lager:</li>
      <li class="list-group-item">EAN:</li>
      <li class="list-group-item">Lokation:</li>
    </ul>
    <a href="#" class="btn btn-primary">Rediger</a>
    <a href="#" class="btn btn-primary">Udlever</a>
  </div>
</div>
<div class="card" style="width: 18rem">
  <img class="card-img-top" src="Images/Boremaskine.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Bosch boremaskine</h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Antal p책 lager:</li>
      <li class="list-group-item">EAN:</li>
      <li class="list-group-item">Lokation:</li>
    </ul>
    <a href="#" class="btn btn-primary">Rediger</a>
    <a href="#" class="btn btn-primary">Udlever</a>
  </div>
</div>
<div class="card" style="width: 18rem">
  <img class="card-img-top" src="Images/Boremaskine.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Bosch boremaskine</h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Antal p책 lager:</li>
      <li class="list-group-item">EAN:</li>
      <li class="list-group-item">Lokation:</li>
    </ul>
    <a href="#" class="btn btn-primary">Rediger</a>
    <a href="#" class="btn btn-primary">Udlever</a>
  </div>
</div>
<div class="card" style="width: 18rem">
  <img class="card-img-top" src="Images/Boremaskine.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Bosch boremaskine</h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Antal p책 lager:</li>
      <li class="list-group-item">EAN:</li>
      <li class="list-group-item">Lokation:</li>
    </ul>
    <a href="#" class="btn btn-primary">Rediger</a>
    <a href="#" class="btn btn-primary">Udlever</a>
  </div>
</div>

@code {
    
}