@using Login

<nav class="top-row px-4 navbar sticky-top navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="/">Warehouse Manager 1337</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="ViewProducts">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="CreateProduct" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Product management
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="ViewProducts">All Products</a>
          <a class="dropdown-item" href="CreateProduct">Add new product</a>
        </div>
      </li>
    </ul>
  </div>
  <LoginButtons/>
</nav>
@code {
    
}