<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img class="menu-logo" src="Images/Logo.png" alt="company logo"/>Warehouse Manager</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <AuthorizeView>
            <Authorized>
                <hr/>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="ViewProducts">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> View Products
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="HandoutProduct">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Product Handout
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="ReceiveProduct">
                        <span class="oi oi-list-rich" aria-hidden="true"></span>  Receive Products
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Policy="MustBeAdmin">
            <hr/>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="CreateUser">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Create User
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="DeleteUser">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Delete User
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="CreateProduct">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Create Product
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="DeleteProduct">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Delete Product
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="TakeStock">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Stocktaking
                </NavLink>
            </div>
            <hr/>
            <div class="nav-item px-3 visibility">
                <NavLink class="nav-link" href="Login">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Logout
                </NavLink>
            </div>
        </AuthorizeView>
        <AuthorizeView>
            <NotAuthorized>
            <div class="nav-item px-3 visibility">
                <NavLink class="nav-link" href="Login">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Login
                </NavLink>
            </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}